body
  padding-top 64px
  background-color #eee

@media(max-width: 979px)
  body
    padding-top 0

.clearfix
  zoom 1
.clearfix:after
  content ""
  display block
  clear both

code
  white-space normal

li.user img.avatar
  height 32px
  position absolute
  top 0
  bottom 0
  left 8px
  margin auto
  -webkit-box-shadow 0 1px 2px #888
  -moz-box-shadow 0 1px 2px #888
  box-shadow 0 1px 2px #888

li.user a.dropdown-toggle
  padding-left 48px

.markdown-preview
  position relative
  -webkit-transition 0.25s linear
  -moz-transition 0.25s linear
  -ms-transition 0.25s linear
  -o-transition 0.25s linear
  transition 0.25s linear
  visibility hidden
  opacity 0
  z-index 1

  > div
    position absolute
    top 9px
    left 0
    width 100%
    background-color #fff
    border 1px solid #ddd

    -moz-border-radius 6px
    -webkit-border-radius 6px
    border-radius 6px

    -webkit-box-shadow 0 4px 12px rgba(0, 0, 0, .375)
    -moz-box-shadow 0 4px 12px rgba(0, 0, 0, .375)
    box-shadow 0 4px 12px rgba(0, 0, 0, .375)

    > small
      color #ccc
      position absolute
      bottom 0
      right 9px

    > div
      padding 9px 9px 0 9px
      word-wrap break-word


.markdown-preview.active
  visibility visible
  opacity 1

pre code
  background-color transparent
  padding 0

pre code.aa
pre code.AA
  font-size 12pt
  line-height 18px
  font-style normal
  font-weight normal
  letter-spacing 0
  font-family Mona,"IPA モナー Pゴシック","IPA mona PGothic","ＭＳ Ｐゴシック","MS PGothic",sans-serif

#messages > div
.frame
  position relative
  margin 9px 0
  padding 9px 9px 0 9px
  border 1px solid #ddd
  background-color #fdfdfd

  word-wrap break-word

  -moz-border-radius 6px
  -webkit-border-radius 6px
  border-radius 6px

  -webkit-box-shadow 0 1px 2px rgba(0, 0, 0, .075)
  -moz-box-shadow 0 1px 2px rgba(0, 0, 0, .075)
  box-shadow 0 1px 2px rgba(0, 0, 0, .075)

.nav-tabs
  margin-bottom 0
.tab-content
  position relative
  margin 0 0 9px
  padding 9px 9px 0 9px
  border 1px solid #ddd
  border-top 0
  background-color #fdfdfd

  word-wrap break-word

  -moz-border-radius 0 0 6px 6px
  -webkit-border-radius 0 0 6px 6px
  border-radius 0 0 6px 6px

  -webkit-box-shadow 0 1px 2px rgba(0, 0, 0, .075)
  -moz-box-shadow 0 1px 2px rgba(0, 0, 0, .075)
  box-shadow 0 1px 2px rgba(0, 0, 0, .075)

#messages
  div.me
    //background-color #ffe
  img.avatar
    width 48px
    height 48px
    -webkit-box-shadow 0 1px 2px #888
    -moz-box-shadow 0 1px 2px #888
    box-shadow 0 1px 2px #888
  a.thumbnail
    display inline-block
    text-decoration none
    img
      max-width 128px
      max-height 128px
  div.aside
    float left
    margin-bottom 9px
  div.body
    margin-left 56px

.upload
  display inline-block
  position relative
  overflow hidden
  cursor default

  input
    display block
    position absolute
    opacity 0
    left 0
    top 0
    width 100%
    height 100%

textarea#message
div.message
span.displayName
  font-family "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",arial,helvetica,clean,sans-serif
