#messages
  div.clearfix(id='message{{message._id}}', ng-repeat='message in messages', ng-class='message.me')
    div.aside
      a(ng-href='/!{{message.user.name}}', ng-show='message.user.name')
        img.img-rounded.avatar(ng-show='message.user.avatarMiniPath', ng-src='{{message.user.avatarMiniPath}}')
      span(ng-hide='message.user.name')
        img.img-rounded.avatar(ng-src='/images/default-mini.png')
      div
        .btn-group
          button.btn.btn-mini(ng-click='incScore(message, 1)', title='+1')
            | {{message.score || 0}}
          button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
            span.caret
          ul.dropdown-menu
            li
              a(ng-click='incScore(message, 1)')
                | +1 
                span.badge.badge-important.pull-right
                  i.icon-shopping-cart.icon-white
                  |  1pt
            li
              a(ng-click='incScore(message, 5)')
                | +5 
                span.badge.badge-important.pull-right
                  i.icon-shopping-cart.icon-white
                  |  5pt
            li
              a(ng-click='incScore(message, 10)')
                | +10 
                span.badge.badge-important.pull-right
                  i.icon-shopping-cart.icon-white
                  |  10pt
            li
              a(ng-click='incScore(message, 30)')
                | +30 
                span.badge.badge-important.pull-right
                  i.icon-shopping-cart.icon-white
                  |  30pt
            li
              a(ng-click='incScore(message, 50)')
                | +50 
                span.badge.badge-important.pull-right
                  i.icon-shopping-cart.icon-white
                  |  50pt
            li
              a(ng-click='incScore(message, 100)')
                | +100 
                span.badge.badge-important.pull-right
                  i.icon-shopping-cart.icon-white
                  |  100pt

    div.body
      a(ng-href='/!{{message.user.name}}', ng-show='message.user.name')
        span.displayName {{message.user.displayName}}
      |   
      a(ng-href='/!{{message.user.name}}', ng-show='message.user.name')
        small.muted @{{message.user.name}}
      span(ng-hide='message.user.name')
        span.muted 誰かさん
      a(ng-href='/!{{message.user.name}}/{{message._id}}', ng-show='message.ninja')
        span.muted （没落忍者）
      |   
      a(ng-href='/!{{message.user.name}}/{{message._id}}')
        small.muted {{message.createdFormatted}}
      div.message(ng-bind-html='message.messageHtml')
      a.thumbnail(ng-show='message.filePath && message.fileThumbPath', ng-href='{{message.filePath}}', target='_blank')
        img.img-rounded(ng-show='message.fileThumbPath', ng-src='{{message.fileThumbPath}}', title='{{message.file}}')
      a.thumbnail(ng-show='message.filePath && !message.fileThumbPath', ng-href='{{message.filePath}}', target='_blank')
        i.icon-file
        |  {{message.file}}
      ul.inline.tags(ng-show='message.tags && message.tags.length')
        li
          a.label(ng-href='{{message.tagsLink}}')
            i.icon-tag.icon-white
            span(ng-repeat='tag in message.tags')
              | {{tag}} 
      div(ng-show='message.revealers')
        h5 没落に加担した者たち
        ol
          li(ng-repeat='revealer in message.revealers')
            img.img-rounded.avatar(ng-show='revealer.avatarMiniPath', ng-src='{{revealer.avatarMiniPath}}')
            |  
            a(ng-href='/!{{revealer.name}}') {{revealer.displayName}}
            |  
            a(ng-href='/!{{revealer.name}}') @{{revealer.name}}
            |  {{revealer.point}}pt
