if _viewOnly
  div(ng-init="$root.viewName='" + _view + "'")
  != _content
else
  doctype html
  html(lang='ja', ng-app='wl2')
    head
      meta(charset='utf-8')
      meta(name='mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
      title WL2
      base(href='/')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/datepicker/css/base.css')
      link(rel='stylesheet', href='/datepicker/css/clean.css')
      link(rel='stylesheet', href='/highlight.js/styles/github.css')
      link(rel='stylesheet', href='/stylesheets/wl2.css')
      script(src='/EventSource.js')
      script(src='/marked.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='/datepicker/js/datepicker.js')
      script(src='/angularjs/angular.min.js')
      script(src='/angularjs/angular-resource.min.js')
      script(src='/angularjs/angular-route.min.js')
      script(src='/angularjs/angular-sanitize.min.js')
      script(src='/highlight.js/highlight.pack.js')
      script(src='/javascripts/wl2c.cjs')
      script(src='/javascripts/wl2filters.js')
      script(src='/javascripts/wl2.js')
      script(type='text/ng-template', id=_view+'?angular=1')
        div(ng-init="$root.viewName='" + _view + "'")
        != _content
    body
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a(class='brand', href='/') WL2
            ul.nav
              li(ng-class="viewName == 'index' && 'active'")
                a(href='/', title='Home')
                  i.icon-home
              li.dropdown
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                  | More
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/help') Help
                  li
                    a(href='/log') Log
            ul.nav.pull-right
              if typeof _user != 'undefined'
                li.dropdown.user(ng-init="user.name='"+_user.name+"';user.avatarMiniPath='"+_user.avatarMiniPath+"'")
                  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                    img.avatar.img-rounded(ng-show='user.avatarMiniPath', ng-src='{{user.avatarMiniPath}}')
                    | @{{user.name}}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(ng-href='/!{{user.name}}')
                        i.icon-user
                        |  Profile
                    li
                      a(href='/settings')
                        i.icon-wrench
                        |  Settings
                    li.divider
                    li
                      a(href='/connect')
                        |  アカウント連携
                    li
                      a(href='/logout')
                        i.icon-off
                        |  Logout
              else
                li.dropdown
                  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                    | Login
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/auth/twitter?mode=login') via Twitter
                    li
                      a(href='/auth/google?mode=login') via Google
                    li
                      a(href='/auth/discord?mode=login') via Discord
      .container(ng-view)
