.frame
  h2 アカウント連携
  p もし Twitter などが滅びたとしても、ただでは転ばないようにするための設定です。
  p 現在の WL2 アカウントに、別の SNS アカウントでログインできるようになります。
  ul
    if typeof keys.twitter == 'undefined'
      li
        a(href='/auth/twitter?mode=connect') Twitter で連携
    else
      li Twitter（連携済み）
    if typeof keys.google == 'undefined'
      li
        a(href='/auth/google?mode=connect') Google で連携
    else
      li Google（連携済み）
    if typeof keys.discord == 'undefined'
      li
        a(href='/auth/discord?mode=connect') Discord で連携
    else
      li Discord（連携済み）
  p ※過去に WL2 でアカウントを作成したことがある SNS アカウントで連携設定を行うと、元の WL2 アカウントには入れなくなります。
