ul#help-tab.nav.nav-tabs
  li.active
    a(href='/help', data-target='#help-wl2') WL2 とは
  li
    a(href='/help?tab=help-markdown', data-target='#help-markdown') 文字の装飾
  li
    a(href='/help?tab=help-point', data-target='#help-point') ポイント
  li
    a(href='/help?tab=help-tag', data-target='#help-tag') タグ
.tab-content
  #help-wl2.tab-pane.active
    h2 WL2 とは
    p
      a(href='https://worldline.oov.ch/', target='_blank') WORLDLINE
      |  の後継的な気持ちで作っていたけど出来上がってみれば別のサイト。
    h3 特徴など
    ul
      li WORLDLINE と違ってツリー構造の廃止
      li というかレス機能すらない
      li
        | テキスト表記に 
        a(href='https://help.github.com/articles/github-flavored-markdown', target='_blank') GitHub Flavored Markdown
        |  の亜種を使用
        br
        | （ほとんどは機能が減らされているだけ）
      li 妙なタグ機能
    h3 ソースコード
    p
      a(href='https://bitbucket.org/oov/wl2') https://bitbucket.org/oov/wl2
    p
      | Bitbucket で公開しています。

  #help-markdown.tab-pane
    h2 文字の装飾
    p
      | 基本的には 
      a(href='https://help.github.com/articles/github-flavored-markdown', target='_blank') GitHub Flavored Markdown
      |  です。
    p
      | 左が記述例、右側が出力例です。
    h3 自動リンク
    .row-fluid
      .span6
        pre
          code
            | http://example.com/
            | #ハッシュタグ
            | これらは何もしなくても自動的にリンクになります
      .span6
        .well
          a(href="http://example.com/", target="_blank") http://example.com/
          br
          a(href="https://wl2.oov.ch/?t=44OP44OD44K344Ol44K%2F44Kw") #ハッシュタグ
          br
          | これらは何もしなくても自動的にリンクになります
    h3 強調
    .row-fluid
      .span6
        pre
          code *強調*
        p または
        pre
          code _強調_
      .span6.well
        em 強調
    h3 より強い強調
    .row-fluid
      .span6
        pre
          code **より強い強調**
        p または
        pre
          code __より強い強調__
      .span6.well
        strong より強い強調
    h3 見出し1
    .row-fluid
      .span6
        pre
          code
            | 見出し1
            | ===
      .span6.well
        h1 見出し1
    h3 見出し2
    .row-fluid
      .span6
        pre
          code
            | 見出し2
            | ---
        p または
        pre
          code ## 見出し2
      .span6.well
        h2 見出し2
    h3 見出し3
    .row-fluid
      .span6
        pre
          code ### 見出し3
      .span6.well
        h3 見出し3
    h3 見出し4
    .row-fluid
      .span6
        pre
          code #### 見出し4
      .span6.well
        h4 見出し4
    h3 見出し5
    .row-fluid
      .span6
        pre
          code ##### 見出し5
      .span6.well
        h5 見出し5
    h3 見出し6
    .row-fluid
      .span6
        pre
          code ###### 見出し6
      .span6.well
        h6 見出し6
    h3 箇条書き
    .row-fluid
      .span6
        pre
          code
            | * 箇条書き
            | 続けて書く場合は普通に改行して書く
            | * 箇条書き
            | 続けて書く場合は普通に改行して書く
            | 
            | 通常のテキストに戻る場合は空行開けましょう
        p または
        pre
          code
            | - 箇条書き
            | 続けて書く場合は普通に改行して書く
            | - 箇条書き
            | 続けて書く場合は普通に改行して書く
            | 
            | 通常のテキストに戻る場合は空行開けましょう
      .span6.well
        ul
          li
            | 箇条書き
            br
            | 続けて書く場合は普通に改行して書く
          li
            | 箇条書き
            br
            | 続けて書く場合は普通に改行して書く
        p 通常のテキストに戻る場合は空行開けましょう
    h3 番号付きリスト
    .row-fluid
      .span6
        pre
          code
            | 1. 番号付きリスト
            | 続けて書く場合は普通に改行して書く
            | 2. 番号付きリスト
            | 続けて書く場合は普通に改行して書く
            | 3. 番号付きリスト
            | 続けて書く場合は普通に改行して書く
            | 
            | 通常のテキストに戻る場合は空行開けましょう
      .span6.well
        ol
          li
            | 番号付きリスト
            br
            | 続けて書く場合は普通に改行して書く
          li
            | 番号付きリスト
            br
            | 続けて書く場合は普通に改行して書く
          li
            | 番号付きリスト
            br
            | 続けて書く場合は普通に改行して書く
        p 通常のテキストに戻る場合は空行開けましょう
    h3 引用
    .row-fluid
      .span6
        pre
          code
            | > 引用
            | 引用の続き
            | 
            | 通常のテキストに戻る場合は空行開けましょう
        p または
        pre
          code
            | > 引用
            | > 引用の続き
            | 
            | 通常のテキストに戻る場合は空行開けましょう
      .span6.well
        blockquote
          p
            | 引用
            br
            | 引用の続き
        p 通常のテキストに戻る場合は空行開けましょう
    h3 コード（インライン）
    .row-fluid
      .span6
        pre
          code
            | `int main(int argc, char *argv[])` みたいな
      .span6.well
        p
          code int main(int argc, char *argv[])
          |  みたいな
    h3 コード（ブロック）
    .row-fluid
      .span6
        pre
          code
            | ```javascript
            | //複数行コードブロックはシングルクォートではなくバッククォート3つで囲む
            | function answerToLifeTheUniverseAndEverything(){
            |   return 42;
            | }
            | ```
      .span6.well
        pre
          code.javascript
            span.comment
              | //複数行コードブロックはシングルクォートではなくバッククォート3つで囲む
              br
            span.function
              span.keyword
                | function
              |  
              span.title answerToLifeTheUniverseAndEverything
              span.params ()
            | {
            br
            span.keyword   return
            |  
            span.number 42
            | ;
            | }
    h3 アスキーアート
    .row-fluid
      .span6
        pre
          code
            | ```aa
            | 　　　　　　　　　　　　　　　　　　　/ 
            | 　　　　　　　　　　 　 ,. ､ 　 　 　 /　　 ／ 
            | 　　　　　　　　　　 ,.〃´ヾ.、　　/　 ／ 
            | 　　　　　　　　　／ |l 　 　 ',　 / ／ 
            | 　 　 　 ,､ 　 ,r'´　　||--‐r､ ',　　　おおぶ？
            | 　 　l.l.　,..ィ'´　　　　l',　　'.j　'. 
            | 　　 'r '´　 　 　 　 　 ',.r '´　!|　　＼ 
            | 　　 l!　　　　　....:.:.:.:.:.:ヽ､ 　 ,ｌ　　　　＼ 
            | 　 　 ゝ､.,_ ---‐‐‐----ゝ､ノ 
            | 　　　 | | 
            | 　　　 .| | 
            | 　　　　| | 
            | 　　 　 .| | 
            | 　　 　　| | 
            | 　　　　 .| | 
            | 　　 　 　| | 
            | 　　　　　.| | 
            | 　　　　 　| | 
            | ```
      .span6.well
        pre
          code.aa
            | 　　　　　　　　　　　　　　　　　　　/ 
            | 　　　　　　　　　　 　 ,. ､ 　 　 　 /　　 ／ 
            | 　　　　　　　　　　 ,.〃´ヾ.、　　/　 ／ 
            | 　　　　　　　　　／ |l 　 　 ',　 / ／ 
            | 　 　 　 ,､ 　 ,r'´　　||--‐r､ ',　　　おおぶ？
            | 　 　l.l.　,..ィ'´　　　　l',　　'.j　'. 
            | 　　 'r '´　 　 　 　 　 ',.r '´　!|　　＼ 
            | 　　 l!　　　　　....:.:.:.:.:.:ヽ､ 　 ,ｌ　　　　＼ 
            | 　 　 ゝ､.,_ ---‐‐‐----ゝ､ノ 
            | 　　　 | | 
            | 　　　 .| | 
            | 　　　　| | 
            | 　　 　 .| | 
            | 　　 　　| | 
            | 　　　　 .| | 
            | 　　 　 　| | 
            | 　　　　　.| | 
            | 　　　　 　| | 
  #help-point.tab-pane
    h2 ポイント
    p まだ作り始めたばかりだけど、ポイントを使って色々な機能を使えるようにしようと思ってます。
    p WL2 内で使える通貨のようなものだと思います。わかりませんが。

    h3 自分のポイントの確認
    p
      a(href="/!oov") プロフィールページ
      | を見ると、そのユーザーの所有ポイントが確認できます。

    h3 ポイントデー
    p
      | 1月1日なら 101、 2月14日なら 214 というように
      strong
        | 月と日を繋げた数字が
        a(href='http://ja.wikipedia.org/wiki/%E7%B4%A0%E6%95%B0', target='_blank') 素数
        | の場合はポイントデー
      | になり、
      strong 一部の行動時に貰えるポイントが2倍
      | になります。
    if (is_point_day)
      .alert.alert-success
        strong 今日はポイントデーです。ぜひ投稿して 
          span.badge.badge-success 20pt
          |  ゲットしましょう。
    else
      .alert.alert-info
        strong 今日はポイントデーではありません。

    h3 ポイントを増やす
    dl
      dt 初投稿
      dd
        p
          | アカウントを作ってから初めての投稿で 
          span.badge.badge-success 100pt
          |  もらえます。
        p
          | ポイントデーの場合は 
          span.badge.badge-success 200pt
          |  もらえます。
      dt 毎日の初投稿
      dd
        p
          | 日付が変わってから初めての投稿時に 
          span.badge.badge-success 10pt
          |  もらえます。
        p
          | ポイントデーの場合は 
          span.badge.badge-success 20pt
          |  もらえます。

    h3 ポイントを使う
    dl
      dt 投稿カウンター
      dd
        p
          | 各投稿には 
          span.btn-group
            button.btn.btn-mini
              | 0 
            button.btn.btn-mini
              span.caret
          |  のようなボタンがついています。
        p
          | これを使用すると自分のポイントを投稿者にプレゼントしつつ、投稿のカウントを追加できます。
        p
          | ただし忍者投稿の場合は投稿者へポイントはプレゼントされず、忍者を暴くために消費されます。
          | 暴かれた後の投稿へのポイントは通常と同じく投稿者にプレゼントされます。
        .alert
          strong 注意
          | 　自分自身のカウントを増やすことはできなくなりました。
      dt 忍者
      dd
        p
          | 忍者機能を使うとポイントを消費して匿名投稿ができます。
        p
          | ただし使用ポイント数が少ないと、投稿カウンターが回されることによって正体を暴かれる危険性が高くなります。
          | また、投稿カウンターが回されても自分にはポイントが入りません。
        dl
          dt
            |  Ninja 50 
            span.badge.badge-important
              i.icon-shopping-cart.icon-white
              |  10pt
          dd
            p
              | 自分のポイントを 
              span.badge.badge-important 10pt
              |  減らし、投稿カウンターが 
              span.btn-group
                button.btn.btn-mini
                  | 50
                button.btn.btn-mini
                  span.caret
              |  に到達するまで匿名にします。
          dt
            |  Ninja 500 
            span.badge.badge-important
              i.icon-shopping-cart.icon-white
              |  30pt
          dd
            p
              | 自分のポイントを 
              span.badge.badge-important 30pt
              |  減らし、投稿カウンターが 
              span.btn-group
                button.btn.btn-mini
                  | 500
                button.btn.btn-mini
                  span.caret
              |  に到達するまで匿名にします。
          dt
            |  Ninja 3000 
            span.badge.badge-important
              i.icon-shopping-cart.icon-white
              |  100pt
          dd
            p
              | 自分のポイントを 
              span.badge.badge-important 100pt
              |  減らし、投稿カウンターが 
              span.btn-group
                button.btn.btn-mini
                  | 3000
                button.btn.btn-mini
                  span.caret
              |  に到達するまで匿名にします。

  #help-tag.tab-pane
    h2 タグ
    p 本文中で #ハッシュタグ を使うと、表示する TL 的なものがその 
      span.label
        i.icon-tag.icon-white
        | ハッシュタグ
      |  がついた投稿のみに制限されます。
    p 特定の話題について盛り上がりたい時など、漠然と全体に向けて何かするわけではない時に使えると思います。
    p もうちょっと周辺機能ちゃんと付けたら徐々に使いやすくなる予定。
    .well
      h3 隠しタグ
      p #ハッシュタグ:secret とすると、隠しタグになります。
      p 話題の絞り込みなどの機能は普通のハッシュタグと同じですが、投稿の下に表示される 
        span.label
          i.icon-tag.icon-white
          | こういうタグ
        |  が、表示されなくなる点が異なります。
      p 複数のタグを使っている時に効果を発揮することがあります。
