div.frame(ng-show='!user.name')
  p
    | 発言するためにはログインする必要があります。

form(ng-show='user.name', ng-submit='post()', ng-init="busy=false; messages=[]; file=null; messageFocus=false; messagePreview=''; postform.message='';")
  textarea#message.span12(ng-model='postform.message')
  .row
    .span12
      .btn.upload(ng-show='canUseFileApi() && !file')
        input(type='file', onchange='angular.element(this).scope().selectFile(this)')
        i.icon-file
      .btn.btn-danger(ng-show='canUseFileApi() && file', ng-click='file=null')
        i.icon-remove.icon-white
        | {{file.name}}
      .btn-group.pull-right
        button.btn(type='submit', title='Normal Post')
          i.icon-comment
        button.btn.dropdown-toggle(data-toggle="dropdown")
          span.caret
        ul.dropdown-menu(style='min-width:192px')
          li
            a(ng-click='post()')
              i.icon-comment
              |  Normal Post
          li.divider
          li
            a(ng-click='post(10)')
              |  Ninja 50
              span.badge.badge-important.pull-right
                i.icon-shopping-cart.icon-white
                |  10pt
          li
            a(ng-click='post(30)')
              |  Ninja 500
              span.badge.badge-important.pull-right
                i.icon-shopping-cart.icon-white
                |  30pt
          li
            a(ng-click='post(100)')
              |  Ninja 3000
              span.badge.badge-important.pull-right
                i.icon-shopping-cart.icon-white
                |  100pt
  .markdown-preview(ng-class='postform.message && messageFocus')
    div
      div.message(ng-bind-html='messagePreview')
      small markdown preview
ul#tags.inline
  li(ng-repeat='tag in postform.tags')
    button.btn.btn-danger.btn-mini(ng-click='postform.tags.splice($index, 1);relocate()')
      i.icon-remove.icon-white
      | {{tag}}
include includes/messages
