.row
  .span4
    #calendar
    p
      | {{from|date:'yyyy/MM/dd'}} - {{to|date:'yyyy/MM/dd'}}
  .span8
    form(ng-submit='addTag(newtag);newtag="";')
      .input-append
        input(type='text', ng-model='newtag')
        input.btn(type='submit', value='Add Tag')
      ul#tags.inline
        li(ng-repeat='tag in tags')
          button.btn.btn-danger.btn-mini(ng-click='tags.splice($index, 1)')
            i.icon-remove.icon-white
            | {{tag}}
    input.btn.btn-primary(type='button', ng-click='find(1)', value='Search')

.pagination.pagination-centered(ng-show='messages.length')
  ul
    li(ng-class="!hasPrev && 'disabled'")
      a(ng-show='hasPrev', ng-click='find(page-1)') &laquo;
      span(ng-show='!hasPrev') &laquo;
    li.active
      span {{page}}
    li(ng-class="!hasNext && 'disabled'")
      a(ng-show='hasNext', ng-click='find(page+1)') &raquo;
      span(ng-show='!hasNext') &raquo;

include includes/messages

.pagination.pagination-centered(ng-show='messages.length')
  ul
    li(ng-class="!hasPrev && 'disabled'")
      a(ng-show='hasPrev', ng-click='find(page-1)') &laquo;
      span(ng-show='!hasPrev') &laquo;
    li.active
      span {{page}}
    li(ng-class="!hasNext && 'disabled'")
      a(ng-show='hasNext', ng-click='find(page+1)') &raquo;
      span(ng-show='!hasNext') &raquo;
