doctype 5
title loading...
script.
  (function(){
    var s = location.search + location.hash;
    if (s.length > 1 && s.match(/^\?(https?|ftp):/i)){
      location.href = s.substring(1);
      return;
    }

    function go(url){
      location.href = "http://goo.gl/" + (typeof url != "undefined" ? url : "");
    }

    if (location.pathname){
      var p = location.pathname.substring(1);
      if (p) return go(p);
    }
    return go();
  })();
