.frame
  h2 Settings
  form.form-horizontal(ng-init="busy = false; userform.name='"+_user.name+"'; userform.displayName='"+_user.displayName+"'; userform.avatarMiniPath='"+_user.avatarMiniPath+"'", ng-submit="save()")
    .control-group
      label.control-label(for='inputId') Id
      div.controls
        input#inputId.span3(type='text', value=_user._id, disabled)
    .control-group
      label.control-label(for='inputName') Username
      div.controls
        div.input-prepend
          label(style='cursor:default')
            span.add-on @
            input#inputName.span3(type='text', placeholder='Username', ng-model='userform.name', ng-disabled='busy')
    .control-group
      label.control-label(for='inputDisplayName') Display Name
      div.controls
        input#inputDisplayName.span4(type='text', placeholder='Display Name', ng-model='userform.displayName', ng-disabled='busy')
    .control-group
      label.control-label(for='inputAvatar') Avatar
      div.controls(ng-init="userform.avatar=null")
        img.img-rounded(ng-src='{{user.avatarMiniPath}}')
        p at least 96x96
        .btn.upload(ng-show='canUseFileApi() && !userform.avatar')
          input(type='file', onchange='angular.element(this).scope().selectFile(this)')
          i.icon-picture
        .btn.btn-danger(ng-show='canUseFileApi() && userform.avatar', ng-click='userform.avatar=null')
          i.icon-remove.icon-white
          | {{userform.avatar.name}}
    .control-group
      label.control-label Input
      div.controls
        ul.unstyled
          li
            label.radio
              input(type='radio', ng-model='enterType', value='0')
              span.label.label-success New Line
              | = 
              span.badge Enter
              br
              span.label.label-info Send
              | = 
              span.badge Shift + Enter
          li
            label.radio
              input(type='radio', ng-model='enterType', value='1')
              span.label.label-success New Line
              | = 
              span.badge Shift + Enter
              br
              span.label.label-info Send
              | = 
              span.badge Enter
    .control-group
      label.control-label Network Type
      div.controls
        ul.unstyled
          li
            label.radio
              input(type='radio', ng-model='networkType', value='0')
              | Normal
          li
            label.radio
              input(type='radio', ng-model='networkType', value='1')
              | 3G
    .control-group
      div.controls
        input.btn.btn-primary(type='submit', value='Save', ng-disabled='busy')
        img(src='/images/loading.gif', width=16, height=16, ng-show='busy')
